html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

@font-face {
    font-family: "Mondwest";
    src: url("../assets/fonts/Mondwest-Regular.woff2");
}

p {
    /* px standed pixel 像素 */
    font-size: 24px;
    /* use the font-face of google-font.com */
    font-family: Mondwest, cursive;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
}

attention {
    background-color: #e45959;
    border-radius: 4px;
    margin: 20px;
    border-left: 2px solid rgb(192, 61, 79);
    padding: 30px 20px;
    box-sizing: border-box;
    display: block;
}